<!DOCTYPE html>
<html>
<head>
  <title>Bankze</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body role='flatdoc' class='big-h3 large-brief' data-page="doc">

<%= yield %>

</body>
</html>
